.row{
    display : flex;
}
.column{
    flex: 50%;
    width:300px;
}


img{
    width:300px;
    height :300px;
}
.hidden{
    display:none
}

.test{
    position: fixed;
    display: block;
    margin: 5%;
    align-items: center;
    align-content: center;
    text-align: center;
    width : 600px;
    border: 2px solid
}